<!DOCTYPE html>
<html>


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiendas y Productos</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      </head>
      <body>
      <section class="hero is-success is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a onclik = onclick="location.href='index_test.php'"class="navbar-item">
                <img src="/img/logo.png">
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <a class="button is-success is-inverted">
                    <span>HOME</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>